<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Joris de Ruiter">
    <title>Simax - REST API - Explanation</title>
</head>
<body>

<h1>Welcome to the Simax Animation Finder</h1>
<p>This service connects your words with animations.</p>
<p>Run a server on port 8000 and call:</p>
<p>http://localhost:8000/get-animations/<em>&lt;JSON-object&gt;</em></p>
<p>
    For example: http://localhost:8000/get-animations/{"sentence": "We saw her duck. She loves ducks." }
</p>

</body>
</html>
